@font-face {
font-family: "Yale";
src:url("https://som.yale.edu/sites/all/themes/yalesom/assets/dist/fonts/yaledesign-medium-webfont.woff")format("woff");
font-display:auto;
font-weight:normal;
font-style:normal;
}

@font-face {
font-family: "Yale";
src:url("https://som.yale.edu/sites/all/themes/yalesom/assets/dist/fonts/yaledesign-bold-webfont.woff")format("woff");
font-display:auto;
font-weight:bold;
font-style:normal;
}

@font-face {
font-family:"NeueHaasUnicaPro";
src:url("https://som.yale.edu/sites/all/themes/yalesom/assets/dist/fonts/3790C2_2_0.woff")format("woff"),
url("https://som.yale.edu/sites/all/themes/yalesom/assets/dist/fonts/3790C2_2_0.woff2")format("woff2");
font-display:auto;
font-weight:normal;
font-style:normal;
}

@font-face {
font-family:"NeueHaasUnicaPro";
src:url("https://som.yale.edu/sites/all/themes/yalesom/assets/dist/fonts/3790C2_0_0.woff")format("woff"),
url("https://som.yale.edu/sites/all/themes/yalesom/assets/dist/fonts/3790C2_0_0.woff2")format("woff2");
font-display:auto;
font-weight:bold;
font-style:normal;
}
