@font-face { 
font-family:'NeueHaasUnicaPro';
src:url('https://som.yale.edu/sites/all/themes/yalesom/assets/dist/fonts/3790C2_2_0.eot');
src:url('https://som.yale.edu/sites/all/themes/yalesom/assets/dist/fonts/3790C2_2_0.woff2') format('woff2'),
  url('https://som.yale.edu/sites/all/themes/yalesom/assets/dist/fonts/3790C2_2_0.woff') format('woff'),
  url('https://som.yale.edu/sites/all/themes/yalesom/assets/dist/fonts/3790C2_2_0.ttf') format('truetype');
  font-display:auto;font-weight:normal;font-style:normal;}
